/.settings
/target
/.classpath
/.project
/test-output
.idea/
*.iml
testdata/TtVGpzRRPazsNmUgoogleDoc.docx
testdata/EditedFileC7074.txt
testdata/rLzcOfHImKPLyPMtestFile.txt
testdata/qtBNAgiIYIQhgxptestFile.txt
testdata/mhQEOEVsIsuLHZOtestFile.txt
testdata/Archive.zip
testdata/Archive(1).zip
testdata/folderNameC8243.zip
testdata/folderNameC8243(2).zip
testdata/folderNameC8243(1).zip
testdata/folderNameC80272.zip
testdata/folderNameC80272(1).zip
testdata/folderNameC7802.zip
testdata/folderNameC7802(4).zip
testdata/folderNameC7802(3).zip
testdata/folderNameC7802(2).zip
testdata/folderNameC7802(1).zip
testdata/fileNameHGfEUsVCVyjaQmH (Working Copy)
